* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background:rgb(2,0,36);
	width:100%;
	max-width:1400px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
	margin:auto;
}

body {
	background:#fff;
}

header {
	background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,9,67,1) 16%, rgba(38,16,94,1) 30%, rgba(82,9,121,0.7651260333234856) 40%, rgba(4,3,85,0.8043417195979954) 55%, rgba(8,44,66,0.8043417195979954) 73%, rgba(0,212,255,1) 100%);
	width:100%;
	padding:25px;

	/* Flexbox */
	display:flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:35px;
	font-family: Arial;
}

header .logo img {
	width:50px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration:none;
	line-height:50px;
}

header nav {
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background: #22c1c3;
	color: #030367;
	text-align: center;
	text-decoration: none;
	padding:10px;
	font-family: Arial;

	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background: #6ceced;
}

.main {
	background:#fff;
	padding:20px;
    flex:600px;
	
	/*flex:1;*/
}

.main article {
	margin-bottom:100px;
	padding-bottom:50px;
	border-bottom:3px solid #6ceced;
	font-family: Arial;
}

.main article:nth-last-child(1){
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:none;
	font-family: Arial;
}

aside {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,9,67,1) 16%, rgba(38,16,94,1) 30%, rgba(82,9,121,0.7651260333234856) 40%, rgba(4,3,85,0.8043417195979954) 55%, rgba(8,44,66,0.8043417195979954) 73%, rgba(0,212,255,1) 100%);
	width:100%;
	padding:20px;
	/*FLEX*/
	flex:1 1 20%;
	/*flex:0 0 300px;*/

	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

aside .widget {
	background: #6ceced;
	height:auto;
	margin:auto;
}

footer {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,9,67,1) 16%, rgba(38,16,94,1) 30%, rgba(82,9,121,0.7651260333234856) 40%, rgba(4,3,85,0.8043417195979954) 55%, rgba(8,44,66,0.8043417195979954) 73%, rgba(0,212,255,1) 100%);
	width:100%;
	padding:20px;
	margin:15px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background: #22c1c3;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1px;
	color: #030367;
	padding:10px;
	text-align:center;
	text-decoration:none;
	font-family: Arial;
}

footer .links a:hover {
	background: #6ceced; 
}

footer .social {
	background: #22c1c3;
	padding:0%;
	text-align:center;
	font-family: Arial;	
}

footer .social a {
	color: #030367;
	text-decoration:none;
	padding:10px;
    display:inline-block;
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin: 10px;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction: row;
		flex: 0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
		
	}
}